@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Playfair+Display";

h1, h2, h3 {
    font-family: 'Playfair Display';
}
body {
    font-family: 'Montserrat';
    height: 100%;
}
strong {
    font-weight: 700;
}
.big-row {
    padding-top: 50px;
    padding-bottom: 50px;
}
nav {
    background-color: #28ADAD !important;
    color: white !important;
}