@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Playfair+Display";

strong {
    font-weight: 700;
}
.big-row {
    padding-top: 50px;
    padding-bottom: 50px;
}
.toast {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 200;
}

.card:hover {
    box-shadow: 0 .25rem .3rem rgba(0,0,0,.4)!important;
}

html {
    scroll-behavior: smooth;
}
